<%- include("partials/header2") %>
<a href="/" class="nav-link p-5 m-5"><- Get Back to athletian</a>
  <div class="container pt-5 mt-5">
  <center><p class="display-4 text-bold">ATHLETIAN COMMUNITY FORUM</p></center>
    <% blogs.forEach(function(blog){ %>
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><%= blog.title %></h5>
              <p class="card-text"><%= blog.body.substring(0,200) %>....</p>
              <p class="card-text"><small class="text-muted"><%= blog.created %></small></p>
              <a href="/blogs/<%=blog._id%>" class="card-text"><small class="text-muted text-bold">Read More</small></a>
            </div>
          </div>
        </div>
        <hr>
      </div>
<% }) %>
  </div>

    
<%- include("partials/footer") %>