<%- include("partials/header") %>
  <main>
    <article>

      <!-- 
        - #HERO
      -->

      <section class="section hero bg-dark has-after has-bg-image" id="home" aria-label="hero" data-section
        style="background-image: url('assets/images/hero-bg.png')">
        <div class="container">

          <div class="hero-content">

            <p class="hero-subtitle">
              <strong class="strong">The Best</strong>Fitness Club
            </p>

            <h1 class="h1 hero-title"> Sore today, strong tomorrow</h1>

            <p class="section-text">
              Lift like a worker and look like a BOSS .....!
            </p>

            <a href="/blogs" class="btn btn-primary join">Get Started</a>

          </div>

          <div class="hero-banner">

            <img src="images/about-banner.png" width="660" height="753" alt="hero banner" class="w-100">

            <img src="images/hero-circle-one.png" width="666" height="666" aria-hidden="true" alt=""
              class="circle circle-1">
            <img src="images/hero-circle-two.png" width="666" height="666" aria-hidden="true" alt=""
              class="circle circle-2">

            <img src="images/heart-rate.svg" width="255" height="270" alt="heart rate"
              class="abs-img abs-img-1">
            <img src="images/calories.svg" width="348" height="224" alt="calories" class="abs-img abs-img-2">

          </div>

        </div>
      </section>





      <!-- 
        - #ABOUT
      -->

      <section class="section about" id="about" aria-label="about">
        <div class="container navbar-dark">

          <div class="about-banner has-after">
            <img src="images/about-banner-2.png" width="660" height="648" loading="lazy" alt="about banner"
              class="w-100">

            <img src="images/about-circle-one.png" width="660" height="534" loading="lazy" aria-hidden="true"
              alt="" class="circle circle-1">
            <img src="images/about-circle-two.png" width="660" height="534" loading="lazy" aria-hidden="true"
              alt="" class="circle circle-2">

            <img src="images/fitness.png" width="650" height="154" loading="lazy" alt="fitness"
              class="abs-img w-100">
          </div>

          <div class="about-content">

            <p class="section-subtitle">About Us</p>

            <h2 class="h2 section-title">Welcome To the club ATHLETIAN</h2>

            <p class="section-text">
              ATHLETIAN is derived from the words "ATHLETE" and "ATLANTIAN". As we all know that atlantians in the story were a symbol of power and might and ATHLETIAN as a symbol of that might with the modern world athletic capabilites is standing up to transform you into a modern athletian.
            </p>
            <p class="section-text">
              Join the athletian community and transform into the best version of yours with free online community of athletians.
            </p>

            <div class="wrapper">

              <div class="about-coach">

                <figure class="coach-avatar">
                  <img src="images/about-coach.png" width="65" height="65" loading="lazy" alt="Trainer">
                </figure>

                <div>
                  <h3 class="h3 coach-name">EXERCISES</h3>

                  <p class="coach-title">Easy - ( Body Weight )</p>
                </div>

              </div>

              <a href="#" class="btn btn-primary">Explore</a>

            </div>

          </div>

        </div>
      </section>





      <!-- 
        - #VIDEO
      -->

      <section class="section video" aria-label="video">
        <div class="container">

          <div class="video-card has-before has-bg-image"
            style="background-image: url('images/vedio-banner-2.jpg')">

            <h2 class="h2 card-title">Explore Fitness Life</h2>

            <a href="/blogs">
            <button class="play-btn" aria-label="play video">
              <ion-icon name="play-sharp" aria-hidden="true"></ion-icon>
            </button></a>
          </div>

        </div>
      </section>





      <!-- 
        - #CLASS
      -->

      <section class="section class bg-dark has-bg-image" id="class" aria-label="class"
        style="background-image: url('images/classes-bg.png')">
        <div class="container">

          <p class="section-subtitle">Our Classes</p>

          <h2 class="h2 section-title text-center">Fitness Classes For Every Goal</h2>

          <ul class="class-list has-scrollbar">
            <% blogs.forEach(function(blog){ %>
            <li class="scrollbar-item">
              <div class="class-card">

                <figure class="card-banner img-holder" style="--width: 416; --height: 240;">
                  <img src="<%=blog.image%>" width="416" height="240" loading="lazy" alt="Weight Lifting"
                    class="img-cover">
                </figure>

                <div class="card-content">

                  <div class="title-wrapper">
                    <img src="images/class-icon-1.png" width="52" height="52" aria-hidden="true" alt=""
                      class="title-icon">

                    <h3 class="h3">
                      <a href="/blogs/<%=blog._id%>" class="card-title"><%=blog.title%></a>
                    </h3>
                  </div>

                  <p class="card-text">
                    <<%=blog.body %> >
                  </p>

          

                </div>

              </div>
            </li>
            <% }) %>


          </ul>

        </div>
      </section>





      <!-- 
        - #BLOG
      -->
      
      <section class="section blog" id="blog" aria-label="blog">
        <div class="container">

          <p class="section-subtitle">Our Blogs</p>

          <h2 class="h2 section-title text-center">Latest Editions</h2>

          <ul class="blog-list has-scrollbar">
          


            <% blogs.forEach(function(blog){ %>
            <li class="scrollbar-item">

              <div class="blog-card">

                <div class="card-banner img-holder" style="--width: 440; --height: 270;">
                  <img src="<%=blog.image%>" width="440" height="270" loading="lazy"
                    alt="Going to the gym for the first time" class="img-cover">

                  <time class="card-meta" datetime="2022-07-07">7 July 2022</time>
                </div>

                <div class="card-content">

                  <h3 class="h3">
                    <a href="/blogs/<%=blog._id%>" class="card-title">Going to the gym for the first time</a>
                  </h3>

                  <p class="card-text">
                    If you’re still on the fence about signing up for a gym membership, make a point to stop into your local fitness center to get some more details
                  </p>

                  <a href="/blogs/<%=blog._id%>" class="btn-link has-before">Read More</a>

                </div>

              </div>
            </li>
            <% }) %>
            

          </ul>

        </div>
      </section>

    </article>
  </main>



  <!-- 
    - #FOOTER
  -->

  <footer class="footer">

    <div class="section footer-top bg-dark has-bg-image" style="background-image: url('images/footer-bg.png')">
      <div class="container">

        <div class="footer-brand">

          <a href="#" class="logo">
            <span class="span">ATHLETIAN</span>
          </a>

          <p class="footer-brand-text">
            Sore today, Strong tomorrow
          </p>

          <div class="wrapper">

            <img src="images/footer-clock.png" width="34" height="34" loading="lazy" alt="Clock">

            <ul class="footer-brand-list">

              <li>
                <p class="footer-brand-title">Monday - Friday</p>

                <p>7:00Am - 10:00Pm</p>
              </li>

              <li>
                <p class="footer-brand-title">Saturday - Sunday</p>

                <p>7:00Am - 4:00Pm</p>
              </li>

            </ul>

          </div>

        </div>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title has-before">Our Links</p>
          </li>

          <li>
            <a href="/" class="footer-link">Home</a>
          </li>

          <li>
            <a href="/about" class="footer-link">About Us</a>
          </li>

          <li>
            <a href="/" class="footer-link">Classes</a>
          </li>

          <li>
            <a href="/blogs" class="footer-link">Blog</a>
          </li>

          <li>
            <a href="/contact" class="footer-link">Contact Us</a>
          </li>

        </ul>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title has-before">Contact Us</p>
          </li>

          <li class="footer-list-item">
            <div class="icon">
              <ion-icon name="location" aria-hidden="true"></ion-icon>
            </div>

            <address class="address footer-link">
              Moradabad institute of technology,Moradabad - 244001
            </address>
          </li>

          <li class="footer-list-item">
            <div class="icon">
              <ion-icon name="call" aria-hidden="true"></ion-icon>
            </div>

            <div>
              <a href="tel:18001213637" class="footer-link">+91 9411071990</a>

              <a href="tel:+915552348765" class="footer-link">+91 7454875205 </a>
            </div>
          </li>

          <li class="footer-list-item">
            <div class="icon">
              <ion-icon name="mail" aria-hidden="true"></ion-icon>
            </div>

            <div>
              <a href="mailto:athletian@gmail.com" class="footer-link">athletian@gmail.com</a>

              <a href="mailto:athletiancustomer@gmail.com" class="footer-link">athletiancustomer@gmail.com</a>
            </div>
          </li>

        </ul>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title has-before">Write to Us</p>
          </li>

          <li>
            <form action="" class="footer-form">
              <input type="email" name="email_address" aria-label="email" placeholder="Email Address" required
                class="input-field">

              <button type="submit" class="btn btn-primary" aria-label="Submit">
                <ion-icon name="chevron-forward-sharp" aria-hidden="true"></ion-icon>
              </button>
            </form>
          </li>

          <li>
            <ul class="social-list">

              <li>
                <a href="www.instagram.com/athletianfb" class="social-link">
                  <ion-icon name="logo-facebook"></ion-icon>
                </a>
              </li>

              <li>
                <a href="www.instagram.com/athletianig" class="social-link">
                  <ion-icon name="logo-instagram"></ion-icon>
                </a>
              </li>

              <li>
                <a href="www.twitter.com/athletiantweet" class="social-link">
                  <ion-icon name="logo-twitter"></ion-icon>
                </a>
              </li>

            </ul>
          </li>

        </ul>

      </div>
    </div>

    

  </footer>





  <!-- 
    - #BACK TO TOP
  -->

  <a href="#top" class="back-top-btn" aria-label="back to top" data-back-top-btn>
    <ion-icon name="caret-up-sharp" aria-hidden="true"></ion-icon>
  </a>

  <%- include("partials/footer") %>
